body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
    background-size: cover!important;
  }
  .row-centered {
    text-align:center;
    margin:0 auto;
}
.col-centered {
    display:block;
    float:none;
}
.pos {
    position: relative;
}
img{
    width: 100%;
    height: auto;
}
  .wrapper {
    width: 430px;
    margin: 0 auto;
    height: 100%;
    padding-top: 0px;
    z-index: 5;
    position: absolute;
    margin-top: -50%;
    
  }
  
  #quiz {
    background-color: #34495E;
    padding-bottom: 60px;
    width: 100%;
    height: 100%;
    border-radius: 2%;
    color: #fff;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  #quiz > h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
  }
  
  .questions {
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 20px;
  }
  
  .answers div {
    padding: 10px 0 0 0;
    font-size: 16px;
  }
  
  .answers div:hover {
    cursor: pointer;
    color: #FBCB43;
  }
  
  .answers {
    padding: 0px 0 0px 0px;
    
  }
  .checkAnswers{
    margin-top: -10%;
  }
  
  .answers div {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 15px;
    border-top: 1px solid grey;
  }
  
  .answers div:first-child {
    border: none;
  }
  
  .checker {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  
  .correct, .false {
    background-color: #109D59;
    width: 16%;
    height: 100%;
    line-height: 14px;
    font-size: 6;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
    font-size: 55%;
  }
  
  .false {
    background-color: #DC4437;
  }

  @media (min-width: 320px){
    .wrapper {
    width: 50%;
    height: 12%;
    margin-left: 23%;
    }
    #quiz > h1 {
        font-size: 7px;
        padding-top: 5px;
    }
    .questions {
        font-size: 7px;
        padding: 8px;
     }
     .answers div {
        font-size: 5px;
        padding: 4px;
    }
    .answers{
        margin-top: -4%;
    }
    h3{
        font-size: 7px;
        margin-top: 10%;
    }
     }
     @media (min-width: 360px){
        .wrapper {
            width: 50%;
            height: 13%;
            margin-left: 23%;
            }
            #quiz > h1 {
                font-size: 12px;
                padding-top: 5px;
            }
            .questions {
                font-size: 8px;
                padding: 8px;
             }
             .answers div {
                font-size: 6px;
                padding: 4px;
            }
            .answers{
                margin-top: -4%;
            }
            h3{
                font-size: 8px;
                margin-top: 10%;
            }
             }
         @media (min-width: 375px){
            .wrapper {
                width: 50%;
                height: 15%;
                margin-left: 23%;
                margin-top: -52%;
                }
                #quiz > h1 {
                    font-size: 13px;
                    padding-top: 5px;
                }
                .questions {
                    font-size: 9px;
                    padding: 8px;
                 }
                 .answers div {
                    font-size: 7px;
                    padding: 4px;
                }
                .answers{
                    margin-top: -4%;
                }
                h3{
                    font-size: 9px;
                    margin-top: 10%;
                }
                 }

             @media (min-width: 530px){
                .wrapper {
                    width: 50%;
                    height: 20%;
                    margin-left: 23%;
                    margin-top: -52%;
                    }
                    #quiz > h1 {
                        font-size: 15px;
                        padding-top: 5px;
                    }
                    .questions {
                        font-size: 12px;
                        padding: 8px;
                     }
                     .answers div {
                        font-size: 10px;
                        padding: 4px;
                    }
                    .answers{
                        margin-top: -4%;
                    }
                    h3{
                        font-size: 12px;
                        margin-top: 10%;
                    }
                     }

                 @media (min-width: 640px){
                    .wrapper {
                        width: 50%;
                        height: 21%;
                        margin-left: 23%;
                        margin-top: -52%;
                        }
                        #quiz > h1 {
                            font-size: 19px;
                            padding-top: 5px;
                        }
                        .questions {
                            font-size: 14px;
                            padding: 8px;
                         }
                         .answers div {
                            font-size: 12px;
                            padding: 4px;
                        }
                        .answers{
                            margin-top: -4%;
                        }
                        h3{
                            font-size: 14px;
                            margin-top: 10%;
                        }
                        .correct,.false{
                            font-size: 70%;
                            line-height: 16px;
                        }
                         }

                    @media (min-width: 768px){
                        .wrapper {
                            width: 50%;
                            height: 26%;
                            margin-left: 23%;
                            margin-top: -52%;
                            }
                            #quiz > h1 {
                                font-size: 24px;
                                padding-top: 5px;
                            }
                            .questions {
                                font-size: 17px;
                                padding: 8px;
                             }
                             .answers div {
                                font-size: 14px;
                                padding: 4px;
                            }
                            .answers{
                                margin-top: -4%;
                            }
                            h3{
                                font-size: 17px;
                                margin-top: 10%;
                            }
                            .correct,.false{
                                font-size: 80%;
                                line-height: 19px;
                            }
                             }

                        @media (min-width: 900px){
                            .wrapper {
                                width: 50%;
                                height: 31%;
                                margin-left: 23%;
                                margin-top: -52%;
                                }
                                #quiz > h1 {
                                    font-size: 27px;
                                    padding-top: 5px;
                                }
                                .questions {
                                    font-size: 19px;
                                    padding: 8px;
                                 }
                                 .answers div {
                                    font-size: 16px;
                                    padding: 4px;
                                }
                                .answers{
                                    margin-top: -4%;
                                }
                                h3{
                                    font-size: 19px;
                                    margin-top: 10%;
                                }
                                .correct,.false{
                                    font-size: 90%;
                                    line-height: 28px;
                                }
                                 }

                            @media (min-width: 1080px){
                                .wrapper {
                                    width: 50%;
                                    height: 41%;
                                    margin-left: 23%;
                                    margin-top: -52%;
                                    }
                                    #quiz > h1 {
                                        font-size: 31px;
                                        padding-top: 5px;
                                    }
                                    .questions {
                                        font-size: 21px;
                                        padding: 8px;
                                     }
                                     .answers div {
                                        font-size: 18px;
                                        padding: 6px;
                                    }
                                    .answers{
                                        margin-top: -3%;
                                    }
                                    h3{
                                        font-size: 21px;
                                        margin-top: 10%;
                                    }
                                    .correct,.false{
                                        font-size: 100%;
                                        line-height: 35px;
                                    }
                                     }
                                @media (min-width: 1366px){
                                    .wrapper {
                                        width: 50%;
                                        height: 41%;
                                        margin-left: 23%;
                                        margin-top: -52%;
                                        }
                                        #quiz > h1 {
                                            font-size: 31px;
                                            padding-top: 5px;
                                        }
                                        .questions {
                                            font-size: 21px;
                                            padding: 8px;
                                         }
                                         .answers div {
                                            font-size: 18px;
                                            padding: 6px;
                                        }
                                        .answers{
                                            margin-top: -3%;
                                        }
                                        h3{
                                            font-size: 21px;
                                            margin-top: 10%;
                                        }
                                        .correct,.false{
                                            font-size: 100%;
                                            line-height: 35px;
                                        }
                                         }

                                    @media (min-width: 1540px){
                                        .wrapper {
                                        width: 50%;
                                        height: 60%;
                                        margin-left: 23%;
                                        }
                                        #quiz > h1 {
                                            font-size: 32.5px;
                                        }
                                        .questions {
                                            font-size: 25.4px;
                                         }
                                         .answers div {
                                            font-size: 21.5px;
                                        }
                                        h3{
                                            font-size: 25.5px;
                                            margin-top: 14%;
                                        }
                                        .correct, .false {
                                            line-height: 80px;
                                            font-size: 50px;
                                         }
                                        }
                                        @media (min-width: 1920px){
                                            .wrapper {
                                            width: 50%;
                                            height: 60%;
                                            margin-left: 23%;
                                            }
                                            #quiz > h1 {
                                                font-size: 37.5px;
                                            }
                                            .questions {
                                                font-size: 31.4px;
                                             }
                                             .answers div {
                                                font-size: 27.5px;
                                            }
                                            h3{
                                                font-size: 31.5px;
                                                margin-top: 14%;
                                            }
                                            .correct, .false {
                                                line-height: 90px;
                                                font-size: 45px;
                                             }
                                            }
            
        